USE [master]
GO
/****** Object:  Database [LeaveManagementDB]    Script Date: 10-01-2020 17:14:28 ******/
CREATE DATABASE [LeaveManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaveManagementDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LeaveManagementDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LeaveManagementDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LeaveManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaveManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaveManagementDB]
GO
/****** Object:  Table [dbo].[BlockHQ]    Script Date: 10-01-2020 17:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockHQ](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_BlockHQ] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[code] [varchar](20) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[post] [varchar](20) NOT NULL,
	[type_of_institute] [varchar](20) NOT NULL,
	[posting_place] [varchar](20) NOT NULL,
	[block_hq] [varchar](20) NOT NULL,
	[gender] [varchar](10) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees_Other_Leave_Counts]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees_Other_Leave_Counts](
	[code] [varchar](20) NOT NULL,
	[maternity_leave_count_left] [int] NOT NULL,
	[paternity_leave_count_left] [int] NOT NULL,
	[child_adoption_leave_count_left] [int] NOT NULL,
 CONSTRAINT [PK_Employees_Other_Leave_Counts_1] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees_Take_Leaves]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees_Take_Leaves](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_code] [varchar](20) NOT NULL,
	[leave_id] [int] NOT NULL,
	[date_from] [date] NOT NULL,
	[date_to] [date] NOT NULL,
	[no_of_days] [int] NOT NULL,
	[financial_year_start] [int] NOT NULL,
	[financial_year_end] [int] NOT NULL,
	[absent_days] [int] NOT NULL,
 CONSTRAINT [PK_Employees_Take_Leaves] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
	[max_days] [int] NOT NULL,
	[max_count] [int] NOT NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfInstitute]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfInstitute](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TypeOfInstitute] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees_Other_Leave_Counts]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Other_Leave_Counts_Employee] FOREIGN KEY([code])
REFERENCES [dbo].[Employee] ([code])
GO
ALTER TABLE [dbo].[Employees_Other_Leave_Counts] CHECK CONSTRAINT [FK_Employees_Other_Leave_Counts_Employee]
GO
ALTER TABLE [dbo].[Employees_Take_Leaves]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Take_Leaves_Employee] FOREIGN KEY([emp_code])
REFERENCES [dbo].[Employee] ([code])
GO
ALTER TABLE [dbo].[Employees_Take_Leaves] CHECK CONSTRAINT [FK_Employees_Take_Leaves_Employee]
GO
ALTER TABLE [dbo].[Employees_Take_Leaves]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Take_Leaves_Leave] FOREIGN KEY([leave_id])
REFERENCES [dbo].[Leave] ([id])
GO
ALTER TABLE [dbo].[Employees_Take_Leaves] CHECK CONSTRAINT [FK_Employees_Take_Leaves_Leave]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeesByFinancialYearAndLeaveType]    Script Date: 10-01-2020 17:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create Proc [dbo].[GetEmployeesByFinancialYearAndLeaveType]
  ( @financial_year_start int,
	@financial_year_end int,
	@leave_id varchar(20))
	as
	select * from Employees_Take_Leaves etl
	join Employee e
	on e.code = etl.emp_code
	where @financial_year_start = etl.financial_year_start and
	@financial_year_end = etl.financial_year_end and
	@leave_id = etl.leave_id
GO
USE [master]
GO
