@{
    ViewBag.Title = "Contact";
}
<h2>Get in touch</h2>

<address>
    Sankalp Saxena<br />
    Software Developer<br />
    Bengaluru, Karnataka
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sankalp.saxena.sta@gmail.com">sankalp.saxena.sta@gmail.com</a><br />
    <strong>Website: </strong> <a href="http://www.sankalpsaxena.com">sankalpsaxena.com</a><br />
</address>