@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <br/>
</div>

<div class="jumbotron">
    <h1>Leave Management</h1>
    <p class="lead">Just leave it to Sansofts 'hols'. It helps you to manage holidays of your employees on a fly!</p>
   
</div>

